@using Planne.Core.Entities

<div class="taskcards-column">
    <div class="header-column">
        <h3>@Column.Name</h3>
    </div>
    <ol>
        @foreach (var task in Column.TaskCards)
        {
            <TaskCardComponent TaskCard="task" />
        }
    </ol>
    <div class="add-button-wrapper">
        <AddButtonComponent />
    </div>
</div>

@code {
    [Parameter]
    public Column Column { get; set; } = null!;
}