@using Planne.Core.Entities

<div class="header-column">
    <h3>@Column.Name</h3>
</div>

<div class="body-column">
        @if (Column.TaskCards.Count() != 0)
        {
            <ol>
                @foreach (var task in Column.TaskCards)
                {
                    <TaskCardComponent TaskCard="task" />
                }
            </ol>
        }
        else
        {
            <AddButtonComponent/>
        }
</div>

@code {
    [Parameter]
    public Column Column { get; set; } = null!;
}